.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition:0.5s;
}

#quote-box {
  width: 600px;
  border-radius: 5px;
  background-color: white;
}

blockquote {
  font-family: Helvetica, serif;
  font-size: 1.1em;
  width: auto;
  margin: 0.25em 0;
  padding: 0.25em 30px 0.25em 60px;
  line-height: 1.45;
  position: relative;
  font-weight: bold;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -30px;
}

blockquote cite {
  font-size: 0.7em;
  display: block;
  margin-top: 5px;
  text-align: end;
  font-style: normal;
}

blockquote cite:before {
  content: "\2014 \2009";
}

#button-container{
  display: flex;
  margin: 25px;
}

#social-media-btn-container{
  flex: auto;
  display: flex;
}

button{
  margin: 5px;
  min-width: 42px;
}

#credit{
  font-size: 12px;
  margin: 10px;
}